<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony 7 training{% endblock %}</title>
        <link rel="shorcut icon" type="image/png" href="{{ asset('img/favicon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block sidebar %}{% include "header.html.twig" %}{% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
