{% if previous >= 0 %}
    <a href="{{ path('app_article_list', { offset: previous }) }}">{{ 'previous'|trans({}, 'pagination')|raw }}</a>
{% endif %}
{% if next < articles|length %}
    <a href="{{ path('app_article_list', { offset: next }) }}">{{ 'next'|trans({}, 'pagination')|raw }}</a>
{% endif %}